In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
a = 'rahul is a gentelman'
a.capitalize()

'Rahul is a gentelman'

In [31]:
a.split(' ')

['rahul', 'is', 'a', 'gentelman']

In [32]:
a.join('')

' '

In [39]:
iter([1, 2, 3])

In [40]:
from datetime import datetime, date, time

In [41]:
time

datetime.time

In [45]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    #print('a={0}, b={1}, c={2}'.format(a, b, c))
    print(a, b, c)

1 2 3
4 5 6
7 8 9

In [47]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[2:4] = [11, 12, 14]
seq

[7, 2, 11, 12, 14, 5, 6, 0, 1]