In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.Series(np.random.randn(9),
index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
[1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    0.188674
   2    0.505403
   3    0.510765
b  1    0.786454
   3   -0.338199
c  1    0.333499
   2   -0.927366
d  2    0.705831
   3    0.666774
dtype: float64

In [7]:
data[['b','c']]

b  1    0.786454
   3   -0.338199
c  1    0.333499
   2   -0.927366
dtype: float64

In [11]:
data.loc['d']

2    0.705831
3    0.666774
dtype: float64

In [12]:
data.loc[: , 2]

a    0.505403
c   -0.927366
d    0.705831
dtype: float64

In [13]:
data.unstack()

          1         2         3
a  0.188674  0.505403  0.510765
b  0.786454       NaN -0.338199
c  0.333499 -0.927366       NaN
d       NaN  0.705831  0.666774